html, body {
  font-family: sans-serif;
}

.full-centered {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FORM */
.form-row {
  display: flex;
  flex-direction: row;
}

.form-row .form-item {
  margin-right: 0.5em;
}

.form-row .form-item:last-of-type {
  margin-right: 0;
}

.form-item {
  margin-bottom: 0.5em;
}

.form-item:last-of-type {
  margin-bottom: initial;
}

.form-item-fill-width > input {
  width: 100%;
}

.form-item > label {
  display: block;
}

.form-status {
  display: inline-block;
  padding-left: 0.5em;
  font-size: small;
  color: rgba(0, 0, 0, 0.7);
}

.field {
  border: 0;
  background-color: white;
  border-radius: 0.25em;
  padding: 0.75em 1em;
  box-sizing: border-box;
}

.btn {
  border: 0;
  border-radius: 0.25em;
  padding: 0.75em;
}